@using Stylophonix.Data
@using Stylophonix.Interfaces
@inject IDataService DataService

@if (GigInfos is not null)
{
    <div class="gigs">
        @foreach (var gig in GigInfos)
        {
            <a class="gig" href="@gig.Url">
                <div class="text">
                    <div class="title">@gig.NavTitle</div>
                    <div class="subtitle">@gig.NavSubtitle</div>
                </div>
                <div class="images">
                    @for (var i = 2; i >= 0; i--)
                    {
                        if (gig.ImageUrls.ElementAtOrDefault(i) is { } image)
                        {
                            <img src="@image" alt="@($"Preview Image {i}")"/>
                        }
                    }
                </div>
            </a>
        }
    </div>
}

@code {
    private IEnumerable<GigInfo>? GigInfos { get; set; }

    protected override void OnInitialized()
    {
        GigInfos = DataService.GetGigInfo();
    }

}