@page "/"
@using Stylophonix.Data
@using Stylophonix.Interfaces
@inject IAnimationService AnimationService

<PageTitle>The World of Stylophonix</PageTitle>

<div id="band-photo" class="@(AnimationService.ShouldAnimate() ? "band-photo-animate" : string.Empty)">
    <img src="img/photos/Stylophonixklein19_black_initial.webp" alt="Stylophonix Band Photo"/>
</div>

<div id="social" class="@(AnimationService.ShouldAnimate() ? "social-animate" : string.Empty)">
    <span>Follow us on:</span>
    <div id="social-links">
        @foreach (var socialOption in _socialOptions)
        {
            <a href="@socialOption.DestinationUrl" id="social-link-@socialOption.Text">
                <img src="@socialOption.IconUrl" alt="@socialOption.Text"/>
                @socialOption.Text
            </a>
        }
    </div>
</div>

<span id="impressum" class="@(AnimationService.ShouldAnimate() ? "social-animate" : string.Empty)">
    <a href="impressum">Impressum</a>
</span>

@code
{
    private readonly List<SocialOption> _socialOptions = new()
    {
        new SocialOption("Facebook", "img/icons/f_logo_RGB-White_1024.svg", "https://www.facebook.com/stylophonix"),
        new SocialOption("Instagram", "img/icons/Instagram_Glyph_White.svg", "https://www.instagram.com/stylophonix"),
        new SocialOption("Reverbnation", "img/icons/reverbnation.svg", "https://www.reverbnation.com/stylophonix"),
        new SocialOption("SoundCloud", "img/icons/SoundCloud_-_Logo.svg", "https://www.soundcloud.com/stylophonix")
    };
}